{% extends 'base.j2' %}

{% block content %}
<h1>Bad Drivers in {{ city }}</h1>
<div class="row mt-4">
    {% for driver in drivers %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ driver[0] }}</h5>
                <p class="card-text"><strong>in</strong> {{ driver[4] }}</p>
                <p class="card-text">{{ driver[2] }}</p>
                <p class="card-text"><strong>at</strong> {{ driver[5] }}</p>
                {% if driver[3] | length %}
                <p class="card-text">
                    <a href="{{ driver[3] }}">Video link</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}